/* ═════════════════════════════════════
   ROOT VALUES + RESET
═════════════════════════════════════ */

:root {

  /* Brand colours */
  --primary:#40286f;
  --primary-dark:#2c1b52;
  --primary-mid:#5a3db5;
  --primary-light:#4e28c9;

  --accent:#cd2bd3;
  --accent-vivid:#0f8b8f;

  --gold:#ffbde2;
  --gold-light:#ffceef;

  --teal:#0ea5a4;
  --green:#22c55e;

  --white:#ffffff;
  --off-white:#faf9ff;
  --light-bg:#f5f1ff;

  --text-dark:#1e1033;
  --text-body:#374151;
  --text-muted:#6b7280;

  --border:#e5defc;

  --orange:#f6deff;

  --main-bg-badge:#f59e0b1f;
  --main-bg-badge-border:#f59e0b66;

  /* Quick link gradients */
  --ql-admission-bg:linear-gradient(135deg,#6a5af9,#8f84ff);
  --ql-results-bg:linear-gradient(135deg,#00b09b,#96c93d);
  --ql-fee-bg:linear-gradient(135deg,#ff9966,#ff5e62);
  --ql-library-bg:linear-gradient(135deg,#36d1dc,#5b86e5);
  --ql-clinical-bg:linear-gradient(135deg,#f7971e,#ffd200);

  /* Section alt background */
  --odd-section-bg:#f0ebff;

  /* Layout */
  --mobile-menu-width:300px;
  --section-padding:88px 10%;
  --nav-h:58px;

  /* Typography */
  --font-main:'Poppins',sans-serif;
  --font-cursive:'Dancing Script',cursive;
  --font-serif:"Montserrat Alternates", sans-serif;

  /* Motion */
  --ease:0.3s cubic-bezier(0.4,0,0.2,1);
    
  /* Conduct / Policy Page */
  --policy-bg:#f7f4ff;
  --policy-card:#ffffff;
  --policy-heading:#2c1b52;
  --policy-number:#40286f;

  --policy-border:#e7e1ff;
  --policy-highlight:#f1ecff;

  --policy-student:#5a3db5;
  --policy-hostel:#0ea5a4;
  --policy-ragging:#ef4444;
  --policy-principal:#f59e0b;
  --policy-faculty:#22c55e;
  --policy-support:#6366f1;
  --acad-primary:#40286f;
  --acad-primary-dark:#2c1b52;

  --acad-text:#333;
  --acad-border:#e5e5e5;
  --acad-bg:#ffffff;
  --acad-soft:#f7f7fb;

  --acad-radius:10px;
  --acad-shadow:0 6px 20px rgba(0,0,0,0.06);

  --acad-section-padding:80px 20px;



}

/* RESET */

*,*::before,*::after{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}

body{
  font-family:var(--font-main);
  background:var(--white);
  color:var(--text-body);
  overflow-x:hidden;
}
.rightText{
  text-align:right;
}
/* ==========================================
   BREADCRUMB
========================================== */

.breadcrumb{
  background:var(--primary-dark);
  padding:170px 10% 160px;
  border-bottom:1px solid var(--border);
}

.breadcrumb-container{
  max-width:1200px;
  margin:auto;
}

.breadcrumb-title{
  font-size:36px;
  font-weight:700;
  color:var(--white);
  margin-bottom:10px;
}

.breadcrumb-nav{
  display:flex;
  align-items:center;
  flex-wrap:wrap;
  gap:10px;
  font-size:14px;
  color:var(--text-muted);
}

.breadcrumb-nav a{
  text-decoration:none;
  color:#cacaca;
  font-weight:500;
  transition:var(--ease);
}

.breadcrumb-nav a:hover{
  color:var(--accent-vivid);
}

.bc-sep{
  font-size:12px;
  color:#b3b3b3;
}

.bc-active{
  color:#ffffff;
  font-weight:600;
}